
@{
    Layout = "~/Views/Shared/_LayoutLandingPage.cshtml";
}
<!-- HOME -->
<section class="home bg-img-3" id="home">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="home-wrapper text-center">
                    <h2 class="animated fadeInDown wow text-white" data-wow-delay=".1s">
                        <span class="text-colored"> </span>
                    </h2>
                    <p class="animated fadeInDown wow text-light" data-wow-delay=".2s">
                        
                    </p>
                    
                    <div class="clearfix"></div>
                </div><!-- home wrapper -->

            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- END HOME -->
<!-- FEATURES-ALT -->
<section class="section " id="orderform">
    <div class="container">

        <div class="row">
            <div class="col col-lg-12 col-md-12"  >
                <form role="form" id="ordre_form">
                    <h3 class="text-center"> 快速下单</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <fieldset>
                                <legend>货源信息</legend>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="起点" required="required">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="终点" required="required">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <select id="inputState" class="form-control">
                                            <option value="0" selected="" disabled="">货物类型</option>
                                            <option>...</option>
                                            <option>...</option>
                                            <option>...</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="货物名称" required="required">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <input type="text" class="form-control" placeholder="总件数" required="required">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <select id="inputState" class="form-control">
                                            <option value="0" selected="" disabled="">包装方式</option>
                                            <option>...</option>
                                            <option>...</option>
                                            <option>...</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <input type="text" class="form-control" placeholder="托数" required="required">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <input type="text" class="form-control" placeholder="箱数" required="required">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <input type="text" class="form-control" placeholder="散箱数" required="required">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <input type="text" class="form-control" placeholder="货值(人民币/元)" required="required">

                                    </div>
                                    <div class="form-group col-md-2">
                                        <input type="text" class="form-control" placeholder="货物重量" required="required">

                                    </div>
                                    <div class="form-group col-md-2">
                                        <select id="inputState" class="form-control">
                                            <option value="0" selected="" disabled="">单位</option>
                                            <option>吨</option>
                                            <option>千克</option>

                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <input type="text" class="form-control" placeholder="货物体积" required="required">

                                    </div>
                                    <div class="form-group col-md-2">
                                        <select id="inputState" class="form-control">
                                            <option value="0" selected="" disabled="">单位</option>
                                            <option>立方</option>
                                            <option>升</option>

                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            


                        </div>
                        <div class="col-lg-6"><fieldset>
    <legend>额外要求</legend>
    <div class="form-row">
        <div class="form-group col-md-4">
            <select id="inputState" class="form-control">
                <option value="0" selected="" disabled="">时效</option>
                <option>当日达</option>
                <option>次日达</option>
                <option>隔天达</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <input type="text" class="form-control" placeholder="托运车型要求" required="required">
        </div>
        <div class="form-group col-md-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    是否购买保险
                </label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <input type="text" class="form-control" placeholder="其它要求" required="required">
        </div>
    </div>
</fieldset>
                            <fieldset>
                                <legend>收货人信息(可选)</legend>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="收货人" required="required">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="收货联系人姓" required="required">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="收货人电话号码" required="required">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="收货人移动电话号码" required="required">
                                    </div>
                                </div>
                                
                            </fieldset>

                            　
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary btn-shadow btn-rounded w-lg">在线下单</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- END FEATURES-ALT -->
<!-- 线路报价 -->
<section class="section bg-gray" id="lineprice">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title-box">
                    <p class="title-alt fadeIn animated wow" data-wow-delay=".1s">报价</p>
                    <h3 class="fadeIn animated wow" data-wow-delay=".2s">承运商线路报价</h3>
                    <div class="border"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row" style="background-color:white">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">供方</th>
                            <th scope="col">起点</th>
                            <th scope="col">终点</th>
                            <th scope="col">时效</th>
                            <th scope="col">整车/拼车</th>
                            <th scope="col">车型/立方/吨</th>
                            <th scope="col">单价</th>
                            <th scope="col">说明</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>聚力</th>
                            <td>上海浦东</td>
                            <td>昆山综保区</td>
                            <td>当日达</td>
                            <td>整车</td>
                            <td>2吨/12尺</td>
                            <td>1000</td>
                            <td><button type="button" class="btn btn-primary btn-shadow btn-rounded w-sm btn-sm">详细报价</button></td>
                        </tr>
                        <tr>
                            <th>聚力</th>
                            <td>上海浦东</td>
                            <td>昆山综保区</td>
                            <td>当日达</td>
                            <td>整车</td>
                            <td>2吨/12尺</td>
                            <td>1000</td>
                            <td><button type="button" class="btn btn-primary btn-shadow btn-rounded w-sm btn-sm">详细报价</button></td>
                        </tr>
                        <tr>
                            <th>聚力</th>
                            <td>上海浦东</td>
                            <td>昆山综保区</td>
                            <td>当日达</td>
                            <td>整车</td>
                            <td>2吨/12尺</td>
                            <td>1000</td>
                            <td><button type="button" class="btn btn-primary btn-shadow btn-rounded w-sm btn-sm">详细报价</button></td>
                        </tr>
                        <tr>
                            <th>聚力</th>
                            <td>上海浦东</td>
                            <td>昆山综保区</td>
                            <td>当日达</td>
                            <td>整车</td>
                            <td>2吨/12尺</td>
                            <td>1000</td>
                            <td><button type="button" class="btn btn-primary btn-shadow btn-rounded w-sm btn-sm">详细报价</button></td>
                        </tr>
                        <tr>
                            <th>聚力</th>
                            <td>上海浦东</td>
                            <td>昆山综保区</td>
                            <td>当日达</td>
                            <td>整车</td>
                            <td>2吨/12尺</td>
                            <td>1000</td>
                            <td><button type="button" class="btn btn-primary btn-shadow btn-rounded w-sm btn-sm">详细报价</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end row -->

    </div>
    <!-- end container -->
</section>
<!-- END 线路报价 -->
<!-- 承运商 -->
<section id="carrier" class="section">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title-box">
                    <p class="title-alt">承运人</p>
                    <h3 class="fadeIn animated wow" data-wow-delay=".1s">运力资源</h3>
                    <div class="border"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png" alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_04.jpg" alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_05.png" alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_06.jpg" alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- END 承运商 -->
<!-- 最新动态 -->
<section class="section   bg-gray" id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-wrapper masonry clearfix">

                    <!-- Blog-item -->
                    <div class="blog-item">
                        <div class="blog-post">
                            <div class="post-media">
                                <a href="blog-post.html">
                                    <img src="~/content/landing/images/blog/1.jpg" alt="blog post with image" class="img-fluid" />
                                </a>
                            </div><!-- .post-media end -->

                            <article class="post-body">
                                <div class="post-info">
                                    <div class="date">
                                        <span class="day">11</span><br />
                                        <span class="month">Sep</span>
                                    </div>

                                    <div class="meta-container">
                                        <a href="blog-post.html">
                                            <h3>Beautiful Image Blog Post</h3>
                                        </a>
                                        <ul class="meta">
                                            <li>
                                                By : <a href="#">Coderthemes</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                    Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet voluptates.Sed dui lorem, adipiscing in adipiscing et.
                                </p>

                                <div class="text-right">
                                    <a href="blog-post.html" class="read-more text-uppercase">Read more..</a>
                                </div>
                            </article><!-- .post-body end -->
                        </div><!-- .blog-post.format-standard end -->
                    </div>
                    <!-- end blog-item -->
                    <!-- Blog-item -->
                    <div class="blog-item">
                        <div class="blog-post">
                            <div class="post-media">
                                <a href="blog-post.html">
                                    <img src="~/content/landing/images/blog/2.jpg" alt="blog post with image" class="img-fluid" />
                                </a>
                            </div><!-- .post-media end -->

                            <article class="post-body">
                                <div class="post-info">
                                    <div class="date">
                                        <span class="day">12</span><br />
                                        <span class="month">Sep</span>
                                    </div>

                                    <div class="meta-container">
                                        <a href="blog-post.html">
                                            <h3>Beautiful Image Blog Post</h3>
                                        </a>
                                        <ul class="meta">
                                            <li>
                                                By : <a href="#">Coderthemes</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <p>
                                    Nunc nec dui vitae urna cursus lacinia. In
                                    venenatis eget justo in dictum. Vestibulum
                                    auctor raesent quis mi
                                    tincidunt, egestas libero nec, ullamcorper
                                    nisi. Etiam a dictum tellus, sed accumsan
                                    quam.
                                </p>

                                <div class="text-right">
                                    <a href="blog-post.html" class="read-more text-uppercase">Read more..</a>
                                </div>
                            </article><!-- .post-body end -->
                        </div><!-- .blog-post.format-standard end -->
                    </div>
                    <!-- end blog-item -->
                    <!-- Blog-item -->
                    <div class="blog-item">
                        <div class="blog-post">
                            <div class="post-media">
                                <a href="blog-post.html">
                                    <img src="~/content/landing/images/blog/3.jpg" alt="blog post with image" class="img-fluid" />
                                </a>
                            </div><!-- .post-media end -->

                            <article class="post-body">
                                <div class="post-info">
                                    <div class="date">
                                        <span class="day">13</span><br />
                                        <span class="month">Sep</span>
                                    </div>

                                    <div class="meta-container">
                                        <a href="blog-post.html">
                                            <h3>Beautiful Image Blog Post</h3>
                                        </a>
                                        <ul class="meta">
                                            <li>
                                                By : <a href="#">Coderthemes</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                    Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet voluptates.
                                </p>

                                <div class="text-right">
                                    <a href="blog-post.html" class="read-more text-uppercase">Read more..</a>
                                </div>
                            </article><!-- .post-body end -->
                        </div><!-- .blog-post.format-standard end -->
                    </div>
                    <!-- end blog-item -->

                </div>
            </div>

        </div>
    </div>
</section>
<!-- END 最新动态 -->
<!-- 流程演示 -->
<section class="section" id="howto">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title-box">
                    <p class="title-alt">Services</p>
                    <h3 class="fadeIn animated wow" data-wow-delay=".1s">Our Best Features</h3>
                    <div class="border"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row text-center">
            <div class="col-lg-4">
                <div class="service-item animated fadeInLeft wow" data-wow-delay=".1s">
                    <img src="~/content/landing/images/icons/cup.svg" width="48" alt="img">
                    <div class="service-detail">
                        <h4>Strategy Solutions</h4>
                        <p>We put a lot of effort in design, as it’s the most important ingredient of successful website.Sed ut perspiciatis unde omnis iste natus error sit.</p>
                    </div>
                    <!-- /service-detail -->
                </div>
                <!-- /service-item -->
            </div>
            <!-- /col -->

            <div class="col-lg-4">
                <div class="service-item animated fadeInDown wow" data-wow-delay=".3s">
                    <img src="~/content/landing/images/icons/diploma.svg" width="48" alt="img">
                    <div class="service-detail">
                        <h4>Digital Design</h4>
                        <p>We put a lot of effort in design, as it’s the most important ingredient of successful website.Sed ut perspiciatis unde omnis iste.</p>
                    </div>
                    <!-- /service-detail -->
                </div>
                <!-- /service-item -->
            </div>
            <!-- /col -->

            <div class="col-lg-4">
                <div class="service-item animated fadeInRight wow" data-wow-delay=".5s">
                    <img src="~/content/landing/images/icons/combo_chart.svg" width="48" alt="img">
                    <div class="service-detail">
                        <h4>SEO</h4>
                        <p>We put a lot of effort in design, as it’s the most important ingredient of successful website.Sed ut perspiciatis unde omnis iste.</p>
                    </div>
                    <!-- /service-detail -->
                </div>
                <!-- /service-item -->
            </div>
            <!-- /col -->
        </div>
        <!--end row -->

        <div class="row text-center">
            <div class="col-lg-4">
                <div class="service-item animated fadeInLeft wow" data-wow-delay=".1s">
                    <img src="~/content/landing/images/icons/space-rocket.svg" width="48" alt="img">
                    <div class="service-detail">
                        <h4>Strategy Solutions</h4>
                        <p>We put a lot of effort in design, as it’s the most important ingredient of successful website.Sed ut perspiciatis unde omnis iste.</p>
                    </div>
                    <!-- /service-detail -->
                </div>
                <!-- /service-item -->
            </div>
            <!-- /col -->

            <div class="col-lg-4">
                <div class="service-item animated fadeInDown wow" data-wow-delay=".3s">
                    <img src="~/content/landing/images/icons/umbrella.svg" width="48" alt="img">
                    <div class="service-detail">
                        <h4>Digital Design</h4>
                        <p>We put a lot of effort in design, as it’s the most important ingredient of successful website.Sed ut perspiciatis unde omnis iste.</p>
                    </div>
                    <!-- /service-detail -->
                </div>
                <!-- /service-item -->
            </div>
            <!-- /col -->

            <div class="col-lg-4">
                <div class="service-item animated fadeInRight wow" data-wow-delay=".5s">
                    <img src="~/content/landing/images/icons/support.svg" width="48" alt="img">
                    <div class="service-detail">
                        <h4>Support</h4>
                        <p>We put a lot of effort in design, as it’s the most important ingredient of successful website.Sed ut perspiciatis unde omnis iste.</p>
                    </div>
                    <!-- /service-detail -->
                </div>
                <!-- /service-item -->
            </div>
            <!-- /col -->
        </div>
        <!--end row -->

    </div>
    <!-- end container -->
</section>
<!-- END 流程演示 -->
<!-- 流程说明 -->
<section class="section" id="howto">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title-box">
                    <p class="title-alt">Faq</p>
                    <h3 class="fadeIn animated wow" data-wow-delay=".1s">Simple Questions</h3>
                    <div class="border"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row m-t-30">
            <div class="col-lg-5 offset-lg-1">
                <!-- Question/Answer -->
                <div class="question-q-box">Q.</div>
                <div class="animated fadeInLeft wow" data-wow-delay=".1s">
                    <h4 class="question" data-wow-delay=".1s">What is Lorem Ipsum?</h4>
                    <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>

                <!-- Question/Answer -->
                <div class="question-q-box">Q.</div>
                <div class="animated fadeInLeft wow" data-wow-delay=".3s">
                    <h4 class="question">Why use Lorem Ipsum?</h4>
                    <p class="answer">Lorem ipsum dolor sit amet, in mea nonumes dissentias dissentiunt, pro te solet oratio iriure. Cu sit consetetur moderatius intellegam, ius decore accusamus te. Ne primis suavitate disputando nam. Mutat convenirete.</p>
                </div>

                <!-- Question/Answer -->
                <div class="question-q-box">Q.</div>
                <div class="animated fadeInLeft wow" data-wow-delay=".5s">
                    <h4 class="question">How many variations exist?</h4>
                    <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>

            </div>
            <!--/col-lg-5 -->

            <div class="col-lg-5">
                <!-- Question/Answer -->
                <div class="question-q-box">Q.</div>
                <div class="animated fadeInRight wow" data-wow-delay=".2s">
                    <h4 class="question">Is safe use Lorem Ipsum?</h4>
                    <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>

                <!-- Question/Answer -->
                <div class="question-q-box">Q.</div>
                <div class="animated fadeInRight wow" data-wow-delay=".4s">
                    <h4 class="question">When can be used?</h4>
                    <p class="answer">Lorem ipsum dolor sit amet, in mea nonumes dissentias dissentiunt, pro te solet oratio iriure. Cu sit consetetur moderatius intellegam, ius decore accusamus te. Ne primis suavitate disputando nam. Mutat convenirete.</p>
                </div>

                <!-- Question/Answer -->
                <div class="question-q-box">Q.</div>
                <div class="animated fadeInRight wow" data-wow-delay=".6s">
                    <h4 class="question">License &amp; Copyright</h4>
                    <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>

            </div>
            <!--/col-lg-5-->
        </div>

    </div>
</section>
<!-- END 流程说明 -->


@section scripts{
    <script type="text/javascript">
        (function ($) {
            "use strict";
            $(document).ready(function () {

                init_masonry();

                //PORTFOLIO FILTER
                $(document).ready(function () {
                    var $container = $('.blog-wrapper');
                    var $filter = $('#filter');
                    // Initialize isotope
                    $container.isotope({
                        filter: '*',
                        layoutMode: 'masonry',
                        animationOptions: {
                            duration: 750,
                            easing: 'linear'
                        }
                    });
                    // Filter items when filter link is clicked
                    $filter.find('a').click(function () {
                        var selector = $(this).attr('data-filter');
                        $filter.find('a').removeClass('current');
                        $(this).addClass('current');
                        $container.isotope({
                            filter: selector,
                            animationOptions: {
                                animationDuration: 750,
                                easing: 'linear',
                                queue: false,
                            }
                        });
                        return false;
                    });
                    /*END*/
                });

            });


            function init_masonry() {
                (function ($) {

                    $(".masonry").imagesLoaded(function () {
                        $(".masonry").masonry();
                    });

                })(jQuery);
            }

        })(jQuery);
    </script>
}