
@{
    Layout = "~/Views/Shared/_LayoutLandingPage.cshtml";
}

<!-- HOME -->
<section class="home bg-img-3" id="home">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="home-wrapper text-center">
                    <h2 class="animated fadeInDown wow text-white" data-wow-delay=".1s">
                        <span class="text-colored"> </span>
                    </h2>
                    <p class="animated fadeInDown wow text-light" data-wow-delay=".2s">
                        
                    </p>
                    
                    <div class="clearfix"></div>
                </div><!-- home wrapper -->

            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- END HOME -->
<!-- FEATURES-ALT -->
<section class="section " id="orderform">
    <div class="container">

        <div class="row">
            <div class="col col-lg-12 col-md-12"  >
                <form role="form" id="ordre_form">
                    <h3 class="text-center"> 快速下单</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <fieldset>
                                <legend>货源信息</legend>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="起点" required="required">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="终点" required="required">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <select class="form-control">
                                            <option value="0" selected="" disabled="">货物类型</option>
                                            <option>...</option>
                                            <option>...</option>
                                            <option>...</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="货物名称" required="required">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <input type="text" class="form-control" placeholder="总件数" required="required">
                                    </div>
                                </div>
                      
                        </fieldset>
                            <fieldset>
                                <legend>货物信息</legend>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <select class="form-control">
                                            <option value="0" selected="" disabled="">包装方式</option>
                                            <option>...</option>
                                            <option>...</option>
                                            <option>...</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <input type="text" class="form-control" placeholder="托数" required="required">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <input type="text" class="form-control" placeholder="箱数" required="required">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <input type="text" class="form-control" placeholder="散箱数" required="required">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <input type="text" class="form-control" placeholder="货值(人民币/元)" required="required">

                                    </div>
                                    <div class="form-group col-md-2">
                                        <input type="text" class="form-control" placeholder="货物重量" required="required">

                                    </div>
                                    <div class="form-group col-md-2">
                                        <select class="form-control">
                                            <option value="0" selected="" disabled="">单位</option>
                                            <option>吨</option>
                                            <option>千克</option>

                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <input type="text" class="form-control" placeholder="货物体积" required="required">

                                    </div>
                                    <div class="form-group col-md-2">
                                        <select class="form-control">
                                            <option value="0" selected="" disabled="">单位</option>
                                            <option>立方</option>
                                            <option>升</option>

                                        </select>
                                    </div>
                                </div>
                            </fieldset>



                    </div>
                        <div class="col-lg-6"><fieldset>
    <legend>额外要求</legend>
    <div class="form-row">
        <div class="form-group col-md-4">
            <select class="form-control">
                <option value="0" selected="" disabled="">时效</option>
                <option>当日达</option>
                <option>次日达</option>
                <option>隔天达</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <input type="text" class="form-control" placeholder="托运车型要求" required="required">
        </div>
        <div class="form-group col-md-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    是否购买保险
                </label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <input type="text" class="form-control" placeholder="其它要求" required="required">
        </div>
    </div>
</fieldset>
                            <fieldset>
                                <legend>收货人信息(可选)</legend>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="收货人" required="required">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="收货联系人姓" required="required">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="收货人电话号码" required="required">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="收货人移动电话号码" required="required">
                                    </div>
                                </div>
                                
                            </fieldset>

                            　
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary btn-shadow btn-rounded w-lg">在线下单</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- END FEATURES-ALT -->
<!-- 线路报价 -->
<section class="section bg-gray" id="lineprice">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title-box">
                    <p class="title-alt fadeIn animated wow" data-wow-delay=".1s">报价</p>
                    <h3 class="fadeIn animated wow" data-wow-delay=".2s">承运商线路报价</h3>
                    <div class="border"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row" style="background-color:white">
            <div class="table-responsive">
                <table id="linetable" class="table   table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">供方</th>
                            <th scope="col">起点</th>
                            <th scope="col">终点</th>
                            <th scope="col">时效</th>
                            <th scope="col">整车/拼车</th>
                            <th scope="col">车型/立方/吨</th>
                            <th scope="col">单价</th>
                            <th scope="col">说明</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>聚力</th>
                            <td>上海浦东</td>
                            <td>昆山综保区</td>
                            <td>当日达</td>
                            <td>整车</td>
                            <td>2吨/12尺</td>
                            <td>1000</td>
                            <td><button type="button" class="btn btn-primary btn-shadow btn-rounded w-sm btn-sm">详细报价</button></td>
                        </tr>
                        <tr>
                            <th>聚力</th>
                            <td>上海浦东</td>
                            <td>昆山综保区</td>
                            <td>当日达</td>
                            <td>整车</td>
                            <td>2吨/12尺</td>
                            <td>1000</td>
                            <td><button type="button" class="btn btn-primary btn-shadow btn-rounded w-sm btn-sm">详细报价</button></td>
                        </tr>
                        <tr>
                            <th>聚力</th>
                            <td>上海浦东</td>
                            <td>昆山综保区</td>
                            <td>当日达</td>
                            <td>整车</td>
                            <td>2吨/12尺</td>
                            <td>1000</td>
                            <td><button type="button" class="btn btn-primary btn-shadow btn-rounded w-sm btn-sm">详细报价</button></td>
                        </tr>
                        <tr>
                            <th>聚力</th>
                            <td>上海浦东</td>
                            <td>昆山综保区</td>
                            <td>当日达</td>
                            <td>整车</td>
                            <td>2吨/12尺</td>
                            <td>1000</td>
                            <td><button type="button" class="btn btn-primary btn-shadow btn-rounded w-sm btn-sm">详细报价</button></td>
                        </tr>
                        <tr>
                            <th>聚力</th>
                            <td>上海浦东</td>
                            <td>昆山综保区</td>
                            <td>当日达</td>
                            <td>整车</td>
                            <td>2吨/12尺</td>
                            <td>1000</td>
                            <td><button type="button" class="btn btn-primary btn-shadow btn-rounded w-sm btn-sm">详细报价</button></td>
                        </tr>
                        <tr>
                            <th>聚力</th>
                            <td>上海浦东</td>
                            <td>昆山综保区</td>
                            <td>当日达</td>
                            <td>整车</td>
                            <td>2吨/12尺</td>
                            <td>1000</td>
                            <td><button type="button" class="btn btn-primary btn-shadow btn-rounded w-sm btn-sm">详细报价</button></td>
                        </tr>
                        <tr>
                            <th>聚力</th>
                            <td>上海浦东</td>
                            <td>昆山综保区</td>
                            <td>当日达</td>
                            <td>整车</td>
                            <td>2吨/12尺</td>
                            <td>1000</td>
                            <td><button type="button" class="btn btn-primary btn-shadow btn-rounded w-sm btn-sm">详细报价</button></td>
                        </tr>
                        <tr>
                            <th>聚力</th>
                            <td>上海浦东</td>
                            <td>昆山综保区</td>
                            <td>当日达</td>
                            <td>整车</td>
                            <td>2吨/12尺</td>
                            <td>1000</td>
                            <td><button type="button" class="btn btn-primary btn-shadow btn-rounded w-sm btn-sm">详细报价</button></td>
                        </tr>
                        <tr>
                            <th>聚力</th>
                            <td>上海浦东</td>
                            <td>昆山综保区</td>
                            <td>当日达</td>
                            <td>整车</td>
                            <td>2吨/12尺</td>
                            <td>1000</td>
                            <td><button type="button" class="btn btn-primary btn-shadow btn-rounded w-sm btn-sm">详细报价</button></td>
                        </tr>
                        <tr>
                            <th>聚力</th>
                            <td>上海浦东</td>
                            <td>昆山综保区</td>
                            <td>当日达</td>
                            <td>整车</td>
                            <td>2吨/12尺</td>
                            <td>1000</td>
                            <td><button type="button" class="btn btn-primary btn-shadow btn-rounded w-sm btn-sm">详细报价</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end row -->

    </div>
    <!-- end container -->
</section>
<!-- END 线路报价 -->
<!-- 承运商 -->
<section id="carrier" class="section">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title-box">
                    <p class="title-alt">承运人</p>
                    <h3 class="fadeIn animated wow" data-wow-delay=".1s">运力资源</h3>
                    <div class="border"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/Content/landing/images/truck-driver/1.jpg" alt="card image"></p>
                                    <h4 class="card-title">聚力国际货运</h4>
                                    <p class="card-text">承接干线，市内配送业务<br>联系电话：13999922299</p>
                          
                                    <span class="badge badge-pill badge-primary">集卡 52辆</span>
                                    <span class="badge badge-pill badge-secondary">厢式车 100辆</span>
                                    <span class="badge badge-pill badge-success">小型货车 30辆</span>
                                    <span class="badge badge-pill badge-danger">冷链车 8辆</span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">聚力国际货运</h4>
                                    <p class="card-text">公司成立于2009年，注册资本为人民币2000万元，是经国家交通部门批准，具有资格经营国内货物运输、仓储及配送服务的综合性物流企业。公司自成立以来，始终坚持‘诚信为本，客户至上，互惠互利，联合双赢’的经营方略，致力于打造聚力品牌物流的企业。</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/Content/landing/images/truck-driver/2.jpg" alt="card image"></p>
                                    <h4 class="card-title">昆山市天使运输有限公司</h4>
                                    <p class="card-text">承接干线，市内配送业务<br>联系电话：13999922299</p>

                                    <span class="badge badge-pill badge-primary">集卡 52辆</span>
                                    <span class="badge badge-pill badge-secondary">厢式车 100辆</span>
                                    <span class="badge badge-pill badge-success">小型货车 30辆</span>
                                    <span class="badge badge-pill badge-danger">冷链车 8辆</span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">昆山市天使运输有限公司</h4>
                                    <p class="card-text">公司成立于2009年，注册资本为人民币2000万元，是经国家交通部门批准，具有资格经营国内货物运输、仓储及配送服务的综合性物流企业。公司自成立以来，始终坚持‘诚信为本，客户至上，互惠互利，联合双赢’的经营方略，致力于打造聚力品牌物流的企业。</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/Content/landing/images/truck-driver/3.jpg" alt="card image"></p>
                                    <h4 class="card-title">昆山万马物流有限公司</h4>
                                    <p class="card-text">承接干线，市内配送业务<br>联系电话：13999922299</p>

                                    <span class="badge badge-pill badge-primary">集卡 52辆</span>
                                    <span class="badge badge-pill badge-secondary">厢式车 100辆</span>
                                    <span class="badge badge-pill badge-success">小型货车 30辆</span>
                                    <span class="badge badge-pill badge-danger">冷链车 8辆</span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">昆山万马物流有限公司</h4>
                                    <p class="card-text">公司成立于2009年，注册资本为人民币2000万元，是经国家交通部门批准，具有资格经营国内货物运输、仓储及配送服务的综合性物流企业。公司自成立以来，始终坚持‘诚信为本，客户至上，互惠互利，联合双赢’的经营方略，致力于打造聚力品牌物流的企业。</p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/Content/landing/images/truck-driver/4.jpg" alt="card image"></p>
                                    <h4 class="card-title">赛宇国际物流有限公司</h4>
                                    <p class="card-text">承接干线，市内配送业务<br>联系电话：13999922299</p>

                                    <span class="badge badge-pill badge-primary">集卡 52辆</span>
                                    <span class="badge badge-pill badge-secondary">厢式车 100辆</span>
                                    <span class="badge badge-pill badge-success">小型货车 30辆</span>
                                    <span class="badge badge-pill badge-danger">冷链车 8辆</span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">赛宇国际物流有限公司</h4>
                                    <p class="card-text">公司成立于2009年，注册资本为人民币2000万元，是经国家交通部门批准，具有资格经营国内货物运输、仓储及配送服务的综合性物流企业。公司自成立以来，始终坚持‘诚信为本，客户至上，互惠互利，联合双赢’的经营方略，致力于打造聚力品牌物流的企业。</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/Content/landing/images/truck-driver/5.jpg" alt="card image"></p>
                                    <h4 class="card-title">昆山飞力集装箱运输有限公司</h4>
                                    <p class="card-text">承接干线，市内配送业务<br>联系电话：13999922299</p>

                                    <span class="badge badge-pill badge-primary">集卡 52辆</span>
                                    <span class="badge badge-pill badge-secondary">厢式车 100辆</span>
                                    <span class="badge badge-pill badge-success">小型货车 30辆</span>
                                    <span class="badge badge-pill badge-danger">冷链车 8辆</span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">昆山飞力集装箱运输有限公司</h4>
                                    <p class="card-text">公司成立于2009年，注册资本为人民币2000万元，是经国家交通部门批准，具有资格经营国内货物运输、仓储及配送服务的综合性物流企业。公司自成立以来，始终坚持‘诚信为本，客户至上，互惠互利，联合双赢’的经营方略，致力于打造聚力品牌物流的企业。</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/Content/landing/images/truck-driver/6.jpg" alt="card image"></p>
                                    <h4 class="card-title">好专线供应链管理有限公司</h4>
                                    <p class="card-text">承接干线，市内配送业务<br>联系电话：13999922299</p>

                                    <span class="badge badge-pill badge-primary">集卡 52辆</span>
                                    <span class="badge badge-pill badge-secondary">厢式车 100辆</span>
                                    <span class="badge badge-pill badge-success">小型货车 30辆</span>
                                    <span class="badge badge-pill badge-danger">冷链车 8辆</span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">好专线供应链管理有限公司</h4>
                                    <p class="card-text">公司成立于2009年，注册资本为人民币2000万元，是经国家交通部门批准，具有资格经营国内货物运输、仓储及配送服务的综合性物流企业。公司自成立以来，始终坚持‘诚信为本，客户至上，互惠互利，联合双赢’的经营方略，致力于打造聚力品牌物流的企业。</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- END 承运商 -->
<!-- 最新动态 -->
<section class="section   bg-gray" id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-wrapper masonry clearfix">

                    <!-- Blog-item -->
                    <div class="blog-item">
                        <div class="blog-post">
                            <div class="post-media">
                                <a href="blog-post.html">
                                    <img src="~/content/landing/images/truck-driver/8.jpg" alt="blog post with image" class="img-fluid" />
                                </a>
                            </div><!-- .post-media end -->

                            <article class="post-body">
                                <div class="post-info">
                                    <div class="date">
                                        <span class="day">11</span><br />
                                        <span class="month">Sep</span>
                                    </div>

                                    <div class="meta-container">
                                        <a href="blog-post.html">
                                            <h3>无车承运人一周年试点成绩单出炉，开启智慧物流新时代</h3>
                                        </a>
                                        <ul class="meta">
                                            <li>
                                                By : <a href="#">小冰</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <p>
                                    交通运输部发布《无车承运人试点运行监测分析报告》，晒出一份亮眼“成绩单”。报告中指出：一年以来，无车承运人试点工作深入推进，相关政策逐步完善，试点企业不断探索创新，资源整合能力显著提高，综合效益加快释放，在促进物流降本增效，引领行业转型发展方面发挥了重要作用
                                </p>

                                <div class="text-right">
                                    <a href="blog-post.html" class="read-more text-uppercase">Read more..</a>
                                </div>
                            </article><!-- .post-body end -->
                        </div><!-- .blog-post.format-standard end -->
                    </div>
                    <!-- end blog-item -->
                    <!-- Blog-item -->
                    <div class="blog-item">
                        <div class="blog-post">
                            <div class="post-media">
                                <a href="blog-post.html">
                                    <img src="~/content/landing/images/truck-driver/9.jpg" alt="blog post with image" class="img-fluid" />
                                </a>
                            </div><!-- .post-media end -->

                            <article class="post-body">
                                <div class="post-info">
                                    <div class="date">
                                        <span class="day">12</span><br />
                                        <span class="month">Sep</span>
                                    </div>

                                    <div class="meta-container">
                                        <a href="blog-post.html">
                                            <h3>新物流革命，革谁的命？</h3>
                                        </a>
                                        <ul class="meta">
                                            <li>
                                                By : <a href="#">小冰</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <p>
                                    毫无疑问，新物流在2018迎来爆发之年。
                                    何为新物流？新物流要干什么？具体会带来什么样的影响？对于这些话题，老鬼今天就跟大家来理一理，聊一聊新物流。
                                </p>

                                <div class="text-right">
                                    <a href="blog-post.html" class="read-more text-uppercase">Read more..</a>
                                </div>
                            </article><!-- .post-body end -->
                        </div><!-- .blog-post.format-standard end -->
                    </div>
                    <!-- end blog-item -->
                    <!-- Blog-item -->
                    <div class="blog-item">
                        <div class="blog-post">
                            <div class="post-media">
                                <a href="blog-post.html">
                                    <img src="~/content/landing/images/truck-driver/10.jpg" alt="blog post with image" class="img-fluid" />
                                </a>
                            </div><!-- .post-media end -->

                            <article class="post-body">
                                <div class="post-info">
                                    <div class="date">
                                        <span class="day">13</span><br />
                                        <span class="month">Sep</span>
                                    </div>

                                    <div class="meta-container">
                                        <a href="blog-post.html">
                                            <h3>物流成本高，货找车，车找货是最大成本来源，如何才能降低成本</h3>
                                        </a>
                                        <ul class="meta">
                                            <li>
                                                By : <a href="#">小冰</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <p>
                                    现在，听到不少司机和物流行业的抱怨，说现在的市场不好，生意难做，不止是物流行业，很多行业的经营压力越来越大。具体是什么一个情况呢？关于国内经济，GDP增速放缓，物流成本较高，为了降低成本企业和工厂各种压缩成本。物流运价越来越低，货源不断减少，很多货车司机已经无法生存，开货车倒成了赔本的买卖，许多物流中小型企业已经入不敷出，生存变得紧张。
                                </p>

                                <div class="text-right">
                                    <a href="blog-post.html" class="read-more text-uppercase">Read more..</a>
                                </div>
                            </article><!-- .post-body end -->
                        </div><!-- .blog-post.format-standard end -->
                    </div>
                    <!-- end blog-item -->

                </div>
            </div>

        </div>
    </div>
</section>
<!-- END 最新动态 -->
<!-- 流程演示 -->
<section class="section" id="howto">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title-box">
                    <p class="title-alt">业务流程</p>
                    <h3 class="fadeIn animated wow" data-wow-delay=".1s">平台运营说明</h3>
                    <div class="border"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row text-center">
            <div class="col-lg-4">
                <div class="service-item animated fadeInLeft wow" data-wow-delay=".1s">
                    <img src="~/content/landing/images/icons/cup.svg" width="48" alt="img">
                    <div class="service-detail">
                        <h4>运力注册</h4>
                        <p>个人或公司在平台上注册承运人信息，经过后台工作人员对提交的信息进行审核</p>
                    </div>
                    <!-- /service-detail -->
                </div>
                <!-- /service-item -->
            </div>
            <!-- /col -->

            <div class="col-lg-4">
                <div class="service-item animated fadeInDown wow" data-wow-delay=".3s">
                    <img src="~/content/landing/images/icons/diploma.svg" width="48" alt="img">
                    <div class="service-detail">
                        <h4>下单/接单</h4>
                        <p>
                            托运人可以在平台上直接下单,填写必要的货源信息,
                            承运人可以在平台上对货源信息进行竞价和接单生成运单作业
                        </p>
                       
                    </div>
                    <!-- /service-detail -->
                </div>
                <!-- /service-item -->
            </div>
            <!-- /col -->

            <div class="col-lg-4">
                <div class="service-item animated fadeInRight wow" data-wow-delay=".5s">
                    <img src="~/content/landing/images/icons/combo_chart.svg" width="48" alt="img">
                    <div class="service-detail">
                        <h4>轨迹跟踪</h4>
                        <p>承运人需要通过平台即时反馈运单的状态和运输车辆的行驶轨迹</p>
                    </div>
                    <!-- /service-detail -->
                </div>
                <!-- /service-item -->
            </div>
            <!-- /col -->
        </div>
        <!--end row -->

        <div class="row text-center">
            <div class="col-lg-4">
                <div class="service-item animated fadeInLeft wow" data-wow-delay=".1s">
                    <img src="~/content/landing/images/icons/space-rocket.svg" width="48" alt="img">
                    <div class="service-detail">
                        <h4>回单上传</h4>
                        <p>承运人完成运单后及时拍照上传回单</p>
                    </div>
                    <!-- /service-detail -->
                </div>
                <!-- /service-item -->
            </div>
            <!-- /col -->

            <div class="col-lg-4">
                <div class="service-item animated fadeInDown wow" data-wow-delay=".3s">
                    <img src="~/content/landing/images/icons/umbrella.svg" width="48" alt="img">
                    <div class="service-detail">
                        <h4>结算</h4>
                        <p>根据运输任务的完成情况，也可在运输任务开始前及任务结束后分别实施线上结算/开票业务</p>
                    </div>
                    <!-- /service-detail -->
                </div>
                <!-- /service-item -->
            </div>
            <!-- /col -->

            <div class="col-lg-4">
                <div class="service-item animated fadeInRight wow" data-wow-delay=".5s">
                    <img src="~/content/landing/images/icons/support.svg" width="48" alt="img">
                    <div class="service-detail">
                        <h4>客服支持</h4>
                        <p>7*24小时对业务的电话在线支持，热线电话：400-8400800</p>
                    </div>
                    <!-- /service-detail -->
                </div>
                <!-- /service-item -->
            </div>
            <!-- /col -->
        </div>
        <!--end row -->

    </div>
    <!-- end container -->
</section>
<!-- END 流程演示 -->
<!-- 流程说明 -->
<section class="section" id="howto">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title-box">
                    <p class="title-alt">Faq</p>
                    <h3 class="fadeIn animated wow" data-wow-delay=".1s">Simple Questions</h3>
                    <div class="border"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row m-t-30">
            <div class="col-lg-5 offset-lg-1">
                <!-- Question/Answer -->
                <div class="question-q-box">Q.</div>
                <div class="animated fadeInLeft wow" data-wow-delay=".1s">
                    <h4 class="question" data-wow-delay=".1s">What is Lorem Ipsum?</h4>
                    <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>

                <!-- Question/Answer -->
                <div class="question-q-box">Q.</div>
                <div class="animated fadeInLeft wow" data-wow-delay=".3s">
                    <h4 class="question">Why use Lorem Ipsum?</h4>
                    <p class="answer">Lorem ipsum dolor sit amet, in mea nonumes dissentias dissentiunt, pro te solet oratio iriure. Cu sit consetetur moderatius intellegam, ius decore accusamus te. Ne primis suavitate disputando nam. Mutat convenirete.</p>
                </div>

                <!-- Question/Answer -->
                <div class="question-q-box">Q.</div>
                <div class="animated fadeInLeft wow" data-wow-delay=".5s">
                    <h4 class="question">How many variations exist?</h4>
                    <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>

            </div>
            <!--/col-lg-5 -->

            <div class="col-lg-5">
                <!-- Question/Answer -->
                <div class="question-q-box">Q.</div>
                <div class="animated fadeInRight wow" data-wow-delay=".2s">
                    <h4 class="question">Is safe use Lorem Ipsum?</h4>
                    <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>

                <!-- Question/Answer -->
                <div class="question-q-box">Q.</div>
                <div class="animated fadeInRight wow" data-wow-delay=".4s">
                    <h4 class="question">When can be used?</h4>
                    <p class="answer">Lorem ipsum dolor sit amet, in mea nonumes dissentias dissentiunt, pro te solet oratio iriure. Cu sit consetetur moderatius intellegam, ius decore accusamus te. Ne primis suavitate disputando nam. Mutat convenirete.</p>
                </div>

                <!-- Question/Answer -->
                <div class="question-q-box">Q.</div>
                <div class="animated fadeInRight wow" data-wow-delay=".6s">
                    <h4 class="question">License &amp; Copyright</h4>
                    <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>

            </div>
            <!--/col-lg-5-->
        </div>

    </div>
</section>
<!-- END 流程说明 -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="loginmodal-container">
                <h1>登录</h1><br>
                <form>
                    <input type="text" name="user" placeholder="Username">
                    <input type="password" name="pass" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="登录">
                </form>

                <div class="login-help">
                    <a href="#">注册</a> - <a href="#">忘记密码</a>
                </div>
            </div>
        </div>
        </div>
    </div>
<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form role="form" action="" method="post" class="f1">

                <h3>Register To Our App</h3>
                <p>Fill in the form to get instant access</p>
                <div class="f1-steps">
                    <div class="f1-progress">
                        <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3" style="width: 16.66%;"></div>
                    </div>
                    <div class="f1-step active">
                        <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                        <p>about</p>
                    </div>
                    <div class="f1-step">
                        <div class="f1-step-icon"><i class="fa fa-key"></i></div>
                        <p>account</p>
                    </div>
                    <div class="f1-step">
                        <div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                        <p>social</p>
                    </div>
                </div>

                <fieldset>
                    <h4>Tell us who you are:</h4>
                    <div class="form-group">
                        <label class="sr-only" for="f1-first-name">First name</label>
                        <input type="text" name="f1-first-name" placeholder="First name..." class="f1-first-name form-control" id="f1-first-name">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="f1-last-name">Last name</label>
                        <input type="text" name="f1-last-name" placeholder="Last name..." class="f1-last-name form-control" id="f1-last-name">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="f1-about-yourself">About yourself</label>
                        <textarea name="f1-about-yourself" placeholder="About yourself..."
                                  class="f1-about-yourself form-control" id="f1-about-yourself"></textarea>
                    </div>
                    <div class="f1-buttons">
                        <button type="button" class="btn btn-primary btn-shadow btn-rounded btn-next">Next</button>
                    </div>
                </fieldset>

                <fieldset>
                    <h4>Set up your account:</h4>
                    <div class="form-group">
                        <label class="sr-only" for="f1-email">Email</label>
                        <input type="text" name="f1-email" placeholder="Email..." class="f1-email form-control" id="f1-email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="f1-password">Password</label>
                        <input type="password" name="f1-password" placeholder="Password..." class="f1-password form-control" id="f1-password">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="f1-repeat-password">Repeat password</label>
                        <input type="password" name="f1-repeat-password" placeholder="Repeat password..."
                               class="f1-repeat-password form-control" id="f1-repeat-password">
                    </div>
                    <div class="f1-buttons">
                        <button type="button" class="btn btn-primary btn-shadow btn-rounded btn-previous">Previous</button>
                        <button type="button" class="btn btn-primary btn-shadow btn-rounded btn-next">Next</button>
                    </div>
                </fieldset>

                <fieldset>
                    <h4>Social media profiles:</h4>
                    <div class="form-group">
                        <label class="sr-only" for="f1-facebook">Facebook</label>
                        <input type="text" name="f1-facebook" placeholder="Facebook..." class="f1-facebook form-control" id="f1-facebook">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="f1-twitter">Twitter</label>
                        <input type="text" name="f1-twitter" placeholder="Twitter..." class="f1-twitter form-control" id="f1-twitter">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="f1-google-plus">Google plus</label>
                        <input type="text" name="f1-google-plus" placeholder="Google plus..." class="f1-google-plus form-control" id="f1-google-plus">
                    </div>
                    <div class="f1-buttons">
                        <button type="button" class="btn btn-primary btn-shadow btn-rounded btn-previous">Previous</button>
                        <button type="submit" class="btn btn-primary btn-shadow btn-rounded btn-submit">Submit</button>
                    </div>
                </fieldset>

            </form>
        </div>
        
       
    </div>
</div>
        @section scripts{
            <script type="text/javascript">
                (function ($) {
                    "use strict";
                    $(document).ready(function () {

                        init_masonry();

                        //PORTFOLIO FILTER
                        $(document).ready(function () {
                            var $container = $('.blog-wrapper');
                            var $filter = $('#filter');
                            // Initialize isotope
                            $container.isotope({
                                filter: '*',
                                layoutMode: 'masonry',
                                animationOptions: {
                                    duration: 750,
                                    easing: 'linear'
                                }
                            });
                            // Filter items when filter link is clicked
                            $filter.find('a').click(function () {
                                var selector = $(this).attr('data-filter');
                                $filter.find('a').removeClass('current');
                                $(this).addClass('current');
                                $container.isotope({
                                    filter: selector,
                                    animationOptions: {
                                        animationDuration: 750,
                                        easing: 'linear',
                                        queue: false,
                                    }
                                });
                                return false;
                            });
                            /*END*/
                        });




                        $('#linetable').DataTable({
                            searching: true,
                            lengthChange: false,
                            pageLength: 5,
                            language: {
                                "decimal": "",
                                "emptyTable": "没有找到报价",
                                "info": " _START_ / _END_ 共 _TOTAL_",
                                "infoEmpty": " 0 / 0 共 0 ",
                                "infoFiltered": "(filtered from _MAX_ total entries)",
                                "infoPostFix": "",
                                "thousands": ",",
                                "lengthMenu": "Show _MENU_ entries",
                                "loadingRecords": "Loading...",
                                "processing": "Processing...",
                                "search": "查询:",
                                "zeroRecords": "没有找到报价",
                                "paginate": {
                                    "first": "第一条",
                                    "last": "最后一条",
                                    "next": "下一条",
                                    "previous": "上一条"
                                },
                                "aria": {
                                    "sortAscending": ": 升序",
                                    "sortDescending": ": 降序"
                                }
                            }
                        });

                    });


                    function init_masonry() {
                        (function ($) {

                            $(".masonry").imagesLoaded(function () {
                                $(".masonry").masonry();
                            });

                        })(jQuery);
                    }

                })(jQuery);
            </script>
        }
